* {
	font-family: 'Bahnschrift light';
}

:root{
	--white: #fff;
	--dark: #333;
}

.dark{
	background-color: #111;
	color: var(--white);
}

body{
	background-color: #e5e5e5;
	user-select: none;
}

.white{
	background-color: var(--white);
}

nav{
	display: grid;
	grid-template-columns: auto max-content max-content max-content;
}

.nav-item {
	padding: 8px 16px;
	cursor: pointer;
	font-size: larger;
}

.nav-item:not(:first-child):hover{
	background-color: #ccc;
	color: #111;
}

.bold{
	font-weight: bold;
}

a{
	text-decoration: none;
}

.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 16px;
	gap: 16px;
}

.row .col{
	display: grid;
	padding: 16px;
	gap: 16px;
	grid-auto-rows: max-content auto;
	height: calc(100vh - 75px);
}

.row .col .title{
	text-align: center;
}

.row .col iframe,
.row .col textarea {
	width: 100%;
	border: 1px solid #ccc;
	resize: none;
	outline: none;
	height: 100%;
}

form{
	display: grid;
	grid-auto-rows: auto max-content;
	gap: 16px;
}

.row .col .btn_group{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	justify-content: space-between;
}

.row .col .btn{
	background-color: var(--dark);
	color: var(--white);
	border: 0;
	cursor: pointer;
	padding: 8px 16px;
}

.row .col .btn:hover {
	background-color: #ccc;
	color: #111;
}

.pc{
	grid-template-columns: auto;
	height: 100%;
}

#pre_container {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	top: 0;
	left: 0;
	z-index: 2;
}

#phone {
	position: absolute;
	left: 25px;
	top: 75px;
	height: 500px;
}

#tab {
	position: absolute;
	left: 457px;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	height: 942px;
	width: 658px;
}

#phone_pre {
	position: fixed;
	top: 75px;
	left: 25px;
	height: 380px;
	width: 212px;
	margin-left: 17px;
	margin-top: 60px;
	background: var(--white);
}

#tab_pre {
	position: fixed;
	top: 49.8%;
	transform: translateY(-50%);
	left: 402px;
	height: 576px;
	width: 768px;
	background: var(--white);
}